/*######################################################################################################################*/
/*	 									HoverCSS.css for IntelliScholar Hover View										*/
/*######################################################################################################################*/
/*							Developed by Pinaki Dey and Rajiv Ram for CodeForScience India 								*/
/*######################################################################################################################*/


/*######################################################################################################################*/
/*									CSS for Hover View Container having Tab Navigation 									*/
/*######################################################################################################################*/
*{
margin:0px;
padding:0px;
}
html {
overflow-x: hidden; 
overflow-y: hidden; 
-ms-overflow-x: hidden;
-ms-overflow-y: hidden;
}
body{
color:#444444;
font-size:13px;
background: #FFFFFF;
font-family:"Century Gothic", Helvetica, sans-serif;
}
#content{
margin:10px 20px;
text-align:center;
width:700px;
position:relative;
height:600px;
}
#wrapper{
-moz-box-shadow:0px 0px 3px #aaa;
-webkit-box-shadow:0px 0px 3px #aaa;
box-shadow:0px 0px 3px #aaa;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border:2px solid #fff;
background-color:#f9f9f9;
width:700px;
overflow:hidden;
}
#steps{
width:700px;
overflow:hidden;
}
.step{
float:left;
width:700px;
}
#navigation{
height:45px;
background-color:#e9e9e9;
border-top:1px solid #fff;
-moz-border-radius:0px 0px 10px 10px;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#navigation ul{
list-style:none;
float:left;
margin-left:14px;
}
#navigation ul li{
float:left;
border-right:1px solid #ccc;
border-left:1px solid #ccc;
position:relative;
margin:0px 2px;
}
#navigation ul li a{
display:block;
height:45px;
background-color:#444;
color:#777;
outline:none;
font-weight:bold;
text-decoration:none;
line-height:45px;
padding:0px 10px;
border-right:1px solid #fff;
border-left:1px solid #fff;
background:#f0f0f0;
background:
-webkit-gradient(
linear,
left bottom,
left top,
color-stop(0.09, rgb(240,240,240)),
color-stop(0.55, rgb(227,227,227)),
color-stop(0.78, rgb(240,240,240))
);
background:
-moz-linear-gradient(
center bottom,
rgb(240,240,240) 9%,
rgb(227,227,227) 55%,
rgb(240,240,240) 78%
)
}
#navigation ul li a:hover{
background:#6c9d31;
color:#fff;
text-shadow:1px 1px 20px #000;
}
#navigation ul li.selected a{
background:#379946;
color:#fff;
text-shadow:1px 1px 20px #000;

}
span.checked{
background:transparent url(http://intellischolar.pinakidey.com/checked.png) no-repeat top left;
position:absolute;
top:0px;
left:1px;
width:20px;
height:20px;
}
span.error{
background:transparent url(http://intellischolar.pinakidey.com/error.png) no-repeat top left;
position:absolute;
top:0px;
left:1px;
width:20px;
height:20px;
}
#steps form fieldset{
border:none;
padding-bottom:20px;
}
#steps form legend{
text-align:left;
background-color:#379946;
color:#fff;
font-size:24px;
text-shadow:2px 7px 20px #000;
font-weight:bold;
float:left;
width:690px;
padding:5px 0px 5px 10px;
margin:10px 0px;
border-bottom:1px solid #fff;
border-top:1px solid #d9d9d9;
}
#steps form p{
clear:both;
margin:auto auto;
background-color:#f4f4f4;
border:1px solid #fff;
width:600px;
padding:0px;
padding-top:3px;
padding-bottom:3px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow:0px 0px 3px #aaa;
-webkit-box-shadow:0px 0px 3px #aaa;
box-shadow:0px 0px 3px #aaa;
}

#steps form p label{
width:160px;
float:left;
text-align:right;
margin-right:15px;
line-height:26px;
color:#666;
text-shadow:1px 1px 1px #fff;
font-weight:bold;
}
#steps form input:not([type=radio]),
#steps form textarea,
#steps form select{
background: #ffffff;
border: 1px solid #ddd;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
outline: none;
padding: 5px;
width: 200px;
float:left;
}
#steps form input:focus{
-moz-box-shadow:0px 0px 3px #aaa;
-webkit-box-shadow:0px 0px 3px #aaa;
box-shadow:0px 0px 3px #aaa;
background-color:#FFFEEF;
}
#steps form p.submit{
background:none;
border:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}
#steps form button {
border:none;
outline:none;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
color: #ffffff;
display: block;
cursor:pointer;
margin: 0px auto;
clear:both;
padding: 7px 25px;
text-shadow: 0 1px 1px #777;
font-weight:bold;
font-family:"Century Gothic", Helvetica, sans-serif;
font-size:22px;
-moz-box-shadow:0px 0px 3px #aaa;
-webkit-box-shadow:0px 0px 3px #aaa;
box-shadow:0px 0px 3px #aaa;
background:#4797ED;
}
#steps form button:hover {
background:#d8d8d8;
color:#666;
text-shadow:1px 1px 1px #fff;
}



/*######################################################################################################################*/
/*									CSS for Tables on Gene and Protein Tabs of Hover View								*/
/*######################################################################################################################*/



#g_table_container, #p_table_container {
             height:380px;
             overflow:auto;
}
#g_table_navigator, #p_table_navigator {
             height:15px;
             overflow:auto;
}
.table_ele {
	width:80%;
	margin:10px auto;
    height: auto;	
	padding: 20px 10px;	
	position: relative;
	overflow-x: hidden;	
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); 
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); 
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
}
.table_ids_cont {
	margin: 0px 0px;
	width:100%;
	height: auto;
	padding: 0px 0px;
	background:transparent;
	border:hidden;
	}
.table_ids_cont a{
	color:#0459b7;
	text-decoration:none;
	font-size:13px;	
	font-family:Arial,sans-serif;
}

.table_ids_cont a:hover{
	font-weight:bold;
}

.table_ids{
	width:15%;
	padding: 10px 6px;
	color: #0459b7;
	font-size:13px;
	font-weight:bold;
	font-family:Arial,sans-serif;	
	text-align: right;
	background:transparent;
	border-left:none;
	border-top:none;
	border-bottom:none;
	border-right:groove;
	border-right-width:2px;
	border-right-color:#89b9ee;	
			outline:none;
	}
.table_content{
    width:85%;
	padding: 10px 6px;
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	background:transparent;
	border:none;
		
	}
	

/*######################################################################################################################*/
/*						CSS for Tables on Top Authors/Publications/Institutions Tabs of Hover View						*/
/*######################################################################################################################*/

table, td, a {
	  color: #000;
	  font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	  
  }
								  */
  
  /* define height and width of scrollable area. Add 16px to width for scrollbar          */
  div.tableContainer {
	  clear: both;
	  border: 1px solid #963;
	  height: 285px;
	  overflow: auto;
	  width: 100%;
	  
  }
  #tableContainer{
	  margin:85px auto; !important
  }
  
  /* set table header to a fixed position. WinIE 6.x only                                       */
  /* In WinIE 6.x, any element with a position property set to relative and is a child of       */
  /* an element that has an overflow property set, the relative value translates into fixed.    */
  /* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
  thead.fixedHeader tr {
	  position: relative
  }
  
  /* set THEAD element to have block level attributes. All other non-IE browsers            */
  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
  thead.fixedHeader tr {
	  display: block
  }
  
  /* make the TH elements pretty */
  thead.fixedHeader th {
	  background: #068481; /*C96;*/
	  border-left: 1px solid #FFF;
	  border-right: 1px solid #FFF;
	  border-top: 1px solid #FFF;	
	  padding: 4px 3px;
	  text-align: left;
	  color: #FFF;
  }
  
  /* make the A elements pretty. makes for nice clickable headers                */
  tbody.scrollContent a, tbody.scrollContent a:link, tbody.scrollContent a:visited {
	  color: #0459b7;
	  display:inline;
	  text-decoration: none;
	  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-size:12px;
					  
	  width: 100%
  }
  
  /* make the A elements pretty. makes for nice clickable headers                */
  /* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
  tbody.scrollContent a:hover {
	  color: #0459b7;
	  display:inline;
	  text-decoration:blink;
	  font-weight:bold;
	  width: 100%
  }
  
  /* define the table content to be scrollable                                              */
  /* set TBODY element to have block level attributes. All other non-IE browsers            */
  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
  /* induced side effect is that child TDs no longer accept width: auto                     */
  tbody.scrollContent {
	  display: block;
	  height: 262px;
	  overflow: auto;
	  width: 646px;
	  border:solid;
	  border-width:1px;
	  border-color:#697210;
	  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  /*border-bottom-width:thick;
	  border-bottom-color:#068481;*/
  }
  
  tfoot.fixedFooter tr {
	  background:#068481;
	  padding: 2px 1px;
	  text-align: left;
	  color: #FFF;	
	  text-decoration: none;
	  font-family:"Times New Roman", Times, serif;
	  font-weight:bold;
	  font-size:10px;
	  font-style:italic;
	  width: 645px;
  }

  tfoot.fixedFooter td {
	  background:#068481;
	  padding: 2px 1px;
	  text-align: left;
	  color: #FFF;	
	  text-decoration: none;
	  font-family:"Times New Roman", Times, serif;
	  font-weight:bold;
	  font-size:10px;
	  font-style:italic;
	  width: 100%;
  }
  
  
  /* make TD elements pretty. Provide alternating classes for striping the table */
  /* http://www.alistapart.com/articles/zebratables/                             */
  tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	  background: #FFF;
	  border-bottom: none;
	  border-left: none;
	  border-right: 1px solid #CCC;
	  border-top: 1px solid #DDD;
	  padding: 2px 3px 3px 4px;
	  word-wrap:break-word;
	  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-size:12px;	
  }
  
  tbody.scrollContent tr.alternateRow td {
	  background: #EEE;
	  border-bottom: none;
	  border-left: none;
	  border-right: 1px solid #CCC;
	  border-top: 1px solid #DDD;
	  padding: 2px 3px 3px 4px;
	  word-wrap:break-word;
	  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	  font-size:12px;	
  }
  
  
  /* define width of TH elements 								             */
  /* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
  /* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
  thead.fixedHeader th {
	  width: 150px
  }
  
  thead.fixedHeader th + th {
	  width: 248px
  }
  
  thead.fixedHeader th + th + th {
	  width: 100px
  }
  
  thead.fixedHeader th + th + th + th {
	  width: 118px
  }
  
  
  /* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
  /* All other non-IE browsers.                                            */
  /* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
  tbody.scrollContent td {
	  width: 150px
  }
  
  tbody.scrollContent td + td {
	  width: 250px
  }
  
  tbody.scrollContent td + td + td {
	  width: 100px
  }
  
  tbody.scrollContent td + td + td + td{
	  width: 100px
  }
  span.subscript{
	  font-size:10px;
	  font-style:italic;
	  font-weight:lighter;
	  font-family:"MS Serif", "New York", serif;
	  display:inline;
  }
  
  #graph{
	margin:85px auto;  !important
  }
  
  
  
  
  <style type="text/css">

			td.value {
				background-image: url(http://www.standards-schmandards.com/exhibits/barchart/gridline58.gif);
				background-repeat: repeat-x;
				background-position: left top;
				border-left: 1px solid #e5e5e5;
				border-right: 1px solid #e5e5e5;
				padding:0;
				border-bottom: none;
				background-color:transparent;
			}
			td {
				padding: 4px 6px;
				border-bottom:1px solid #e5e5e5;
				border-left:1px solid #e5e5e5;
				background-color:#fff;
			}
			
			td.value img {
				vertical-align: middle;
				margin: 5px 5px 5px 0;
			}
			th {
				text-align: left;
				vertical-align:top;
			}
			td.last {
				border-bottom:1px solid #e5e5e5;
			}
			td.first {
				border-top:1px solid #e5e5e5;
			}
			.auraltext
			{
			   position: absolute;
			   font-size: 0;
			   left: -1000px;
			}
			table {
				background-image:url(http://www.standards-schmandards.com/exhibits/barchart/bg_fade.png);
				background-repeat:repeat-x;
				background-position:left top;
				width: 33em;
			}
			caption {
				font-size:90%;
				font-style:italic;
			}
			
			</style>